<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Our university</title>        
        
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/home.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <section class="hero is-primary is-fullheight">

            <div class="hero-head">
                <nav class="navbar">
                    <div class="container">

                        <div id="navbarMenuHeroA" class="navbar-menu">
                            <div class="navbar-end">
                              {% if g.user and not g.admin %}
                                <a href="{{ url_for('blog.home') }}" class="navbar-item">Home &ensp;
                                </a>
                                <a href="{{ url_for('blog.profile',id = user_id) }}" class="navbar-item">Profile &ensp;
                                </a>                                 
                                <a href="{{ url_for('blog.table') }}" class="navbar-item">
                                    Data Table &ensp;
                                </a>                                                             
                                <a href="{{ url_for('blog.applynow') }}" class="navbar-item">
                                    Apply Now &ensp;
                                </a>
                                <a href="{{ url_for('blog.update',id = user_id) }}" class="navbar-item">
                                    Update Application &ensp;
                                </a>
                                <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                                    Logout &ensp;</a>
                              {% elif  not g.user and not g.admin%}
                                <a href="{{ url_for('auth.login') }}" class="navbar-item">
                                    Login &ensp;
                                </a>
                                <a href="{{ url_for('auth.register') }}" class="navbar-item">
                                    Sign Up
                                </a>
                              {% endif %}
                              {% if g.admin %}
                                <a href="{{ url_for('blog.home') }}" class="navbar-item">Home &ensp;
                                </a>                               
                                <a href="{{ url_for('blog.table') }}" class="navbar-item">
                                    Data Table &ensp;
                                </a>
                                <a href="{{ url_for('blog.admin') }}" class="navbar-item">
                                    Admin &ensp;
                                </a>
                                <a href="{{ url_for('auth.logout') }}" class="navbar-item">
                                    Logout &ensp;</a>
                                {% endif %}   
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>

            <div class="hero-body">
                <div class="container has-text-centered">               
                </div>
            </div>
        </section>
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image-->
                <img class="masthead-avatar mb-5" src="static/assets/img/images.png" alt="" />
                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Our University</h1>
                <!-- Icon Divider-->
               
            </div>
        </header>
        
        <!-- About Section-->
        <section class="page-section bg-primary text-white mb-0" id="about">
            <div class="container">
                <!-- About Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-white">About Us</h2>
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- About Section Content-->
                <div class="row">
                    <div class="col-lg-4 ml-auto"><p class="lead">Our university is the best ever.Apply and change your future, all our alumni work for google and microsoft. We do not charge any money, you can have education while getting paid for it. What are you waiting for?</p></div>
                    <div class="col-lg-4 mr-auto"><p class="lead">Guess what, Donald Trump studies here too. Is that too much? Biden is here too, and they are best friends. Join Trump - Biden family today. </p></div>
                </div>
                
            </div>
        </section>
        <!-- Contact Section-->
        <section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contacts</h2>
        </section>        
        <!-- Footer-->
        <footer class="footer text-center">
            <div class="container">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <h4 class="text-uppercase mb-4">Location</h4>
                        <p class="lead mb-0">
                            Dluga 4 01-100
                            <br />
                            Warsaw, Poland
                        </p>
                    </div>                   
                    
                </div>
            </div>
        </footer>        
        
    </body>
</html>
